.book-section {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../../storage/app/public/contact-us_page/bg_contact.png);
}

.book-section iframe {
    height: 200vh;
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* scrollbar-width: none; */
    border-radius: 20px;
}
