/* Root Colori */
:root {
    --color-beige: #f2dbae;
    --color-ocra-A: #b29255;
    --color-ocra-B: #bda774;
    --color-blue: #38515c;
    --color-grey: #b6bcb5;
    --color-orange: rgba(170, 128, 44, 0.75);
}

/* Font */
.Lora {
    font-family: "Lora", serif;
}
.Roboto {
    font-family: "Roboto", sans-serif;
}
.Playfair {
    font-family: "Playfair Display", serif;
}
.Syncopate {
    font-family: "Syncopate", sans-serif;
}

.border-ocra-B {
    border-bottom: solid 1px var(--color-ocra-B);
}

/* Body */
body {
    background-image: url(../../storage/app/public/global_img/bg_global.png);
}

/* Colori <a> e <i> */
a i {
    color: var(--color-ocra-A);
    margin-right: 8px;
}
a:hover {
    color: var(--color-ocra-B);
}
a:hover i {
    color: var(--color-ocra-B);
}
.color-ocra-A {
    color: var(--color-ocra-A) !important;
}
.color-grey {
    color: var(--color-grey);
}
/* Settings Navbar */
nav {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    height: 60px;
    background-color: #656565 !important;
    font-family: "Montserrat", sans-serif;
}
.nav-link {
    color: rgba(191, 191, 191, 0.85) !important;
}
.nav-link:hover {
    color: var(--color-ocra-A) !important;
    border-bottom: 1px solid var(--color-ocra-A);
}
.navbar-collapse {
    background-color: #656565;
}
.navbar-collapse .nav-link {
    margin: 0;
    text-align: center;
    padding: 10px 0;
}
.navbar-toggler.border-none {
    border: none;
    box-shadow: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar {
    min-height: 80px;
}
@media (max-width: 576px) {
    .navbar {
        min-height: 80px;
    }
    .navbar-brand,
    .navbar-toggler {
        display: flex;
        align-items: center;
    }
}

/* Settings Footer */
footer {
    background-color: #282828;
    color: white;
}
footer h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}
square {
    font-weight: 900;
    color: #edad00;
}
footer a {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--color-grey);
    padding: 10px 0px;
    text-decoration: none;
}
.copyright {
    font-size: 0.7rem;
    font-style: italic;
    color: grey;
}
.icon_footer {
    padding: 9px;
    background-color: #404040;
    color: #c6c6c7;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #656565;
}

@media (min-width: 1700px) {
    .rooms-section {
        height: 75vh;
    }
    .header-image-hydra,
    .header-image-aries,
    .header-image-cassiopea,
    .header-image-orione {
        height: 75vh;
    }
    .section-image-hydra,
    .section-image-aries,
    .section-image-orione,
    .section-image-cassiopea {
        min-height: 35vh;
    }
    .home-section .section-1,
    .home-section .section-4,
    .home-section .section-2,
    .home-section .section-3 {
        min-height: 50vh;
    }
    .home-section header {
        min-height: 80vh;
    }
    .home-section .card_home {
        width: 650px !important;
        max-width: 650px !important;
        min-width: 650px !important;
    }
    .home-section .section-5 {
        min-height: auto; 
    }
    .home-section {
         padding: 0;
    }
}
