.home-section {
    height: 100%;
    overflow-x: hidden;
    font-family: "Playfair Display", serif;
}
.home-section .section2 .col-12,
.home-section .section3 .col-12,
.home-section .section4 .col-12,
.home-section .section5 .col-12 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.home-section .section-1 .col-12 {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    margin: 0px !important;
    width: 700px;
}
.home-section h2,
.home-section a {
    margin-bottom: 5px;
    font-weight: bold;
    color: #474b57;
}
.home-section .card_home {
    background-color: rgba(170, 128, 44, 0.9);
    border-radius: 8px;
    min-width: 100% !important;
}
.home-section .card_home h5 {
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}
.home-section .card_home p {
    font-size: 14px;
    color: #474b57;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.home-section .card_home span {
    display: block;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 2;
}
.rounded-custom {
    border-radius: 15px;
    overflow: hidden;
}
#carouselExampleSlidesOnly .carousel-inner img {
    object-fit: cover;
    width: 100%;
}
.section-1 .col-12 p:first-of-type::first-letter {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-ocra-A);
    float: left;
    margin-right: 10px;
    line-height: 1;
}
.section-1 p {
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 2560px) {
    .home-section {
        padding: 100px 0;
    }
}

.home-section header {
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../storage/app/public/home_page/header.jpg);
    padding: 50px 0;
}
.home-section .section-1 {
    background-color: var(--color-blue);
    color: var(--color-beige);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    min-height: 50vh;
}
.home-section .section-2 {
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../storage/app/public/home_page/rooms.jpg);
    padding: 50px 0;
}
.home-section .section-3 {
    background-color: var(--color-beige);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.home-section .section-4 {
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../storage/app/public/home_page/breackfast.jpg);
    padding: 50px 0;
}
.home-section .section-5 {
    background-color: var(--color-blue);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}


.section-5 .services-list {
    list-style: none;
    padding-left: 0;
}

.section-5 .services-list li {
    font-size: 18px;
    margin-bottom: 8px;
    display: inline-block;
    margin-right: 15px;
}

.section-5 .services-list i {
    margin-right: 5px;
}

.section-5 .image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
}

.section-5 .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
